@media (max-width: 479px) {

    .partner_item {
        width: 44%;
    }
    .partner_item img {
        width: 100%;
        height: auto;
    }
    .service_item {
        height: 166px;
    }
    .header_logo {
        width: 117px;
    }
    .header_logo img {
        width: 100%;        
    }
    .advantages_items > * {
        width: 100%;
    }
    .stage_items > * {
        max-width: 248px;
    } 
    .stage_items {
        justify-content: center;
    }
    .about_items > * {
        width: 100%;
    }
    .about_items {
        gap: 20px;
    }
    .work .tabs button {
        width: 235px;
    }
    .contacts_item:nth-child(2) {
        width: 100%;
        margin-top: 25px;
    }
    .contacts .map_wrap {
        height: 155px;
    }
    .service_item-img {
        height: 166px;
    }



   
}
