@media print, (max-width: 1300px) {

    :root {
        --font_size_title: 36px;
    }   
    header .menu {
        gap: 30px;
    }
    .service_item:nth-child(1),
    .service_item:nth-child(3) {
        width: 300px;
    }
    .partner_contact {
        right: 20px;
    }
    .footer_logo {
        margin-right: 30px;
    } 
    .footer_btn {
        margin-right: 0;
    }
    .footer_contact {
        gap: 30px;
    }
    .footer_menu {
        margin-right: 30px;
    }
    .block {
        margin-bottom: 105px;
    }
    .new {
        margin-bottom: 80px;
    }
    .title {
        margin-bottom: 30px;
    }
    .stage_items {
        gap: 30px;
    }
    .stage_items > * {
        width: calc(100%/4 - 20px);
    }
    .work .tabs {
        flex-wrap: wrap;
        gap: 20px;
    }
    .work .tabs button {
        width: calc(100% / 3 - 14px);
    }




}

